@import "tailwindcss";

/* globals.css */
:root {
  --token-165a1e94-40d0-48dc-b562-2c1c2f928bb5: rgb(248, 237, 227);
  --token-08690148-84ca-4ec2-9a16-ac4ed0577999: rgb(141, 73, 58);
  --token-65983464-a28d-4c78-bdc6-1e3e5f04de85: rgb(255, 255, 255);
  --token-01c686df-6652-4757-9e69-1d4a3390bded: rgba(248, 237, 227, 0.7);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-archivo); /* 👈 map Tailwind to Archivo */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: linear-gradient(
    135deg,
    var(--token-165a1e94-40d0-48dc-b562-2c1c2f928bb5),
    var(--token-01c686df-6652-4757-9e69-1d4a3390bded)
  );
  font-family: "Archivo", sans-serif;
  margin: 0;
  padding: 0;
}
